
<div class="m-5 flex justify-between">
  <div>
    <%= form_with(url: students_path, method: :get) do |f| %>
      <%= f.text_field :query %>
      <%= f.submit "Search", class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <%= link_to "Reset", students_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <% end %>
  </div>
  <div class="flex justify-end">
    <%= link_to "New student", new_student_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <%= link_to "Download Report", students_path(format: :xlsx), class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
    <%= link_to "Installments", installments_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" %>
  </div>
</div>

<div>


<% headers = ['Roll No', 'Name', 'Courses', 'Date of Joining', 'Total Fees'] %>
  <div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
      <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
      <tr>
        <% headers.each do |h| %>
          <th scope="col" class="px-6 py-3">
            <%= h %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @students.each do |student| %>
        <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
          <td class="px-6 py-4"><%= student.roll_no %></td>
          <td class="px-6 py-4"><%= link_to student.name, student_path(student) %></td>
          <td class="px-6 py-4"><%= student.courses %></td>
          <td class="px-6 py-4"><%= student.date_of_joining&.format_date %></td>
          <td class="px-6 py-4"><%= student.total_fees %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

</div>