<div id="<%= dom_id installment %>">
  <p>
    <strong>Student:</strong>
    <%= installment.student.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= installment.date %>
  </p>

  <p>
    <strong>Installment Number:</strong>
    <%= installment.number %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= installment.amount %>
  </p>

  <p>
    <strong>Mode of Payment:</strong>
    <%= installment.mode_of_payment %>
  </p>
</div>
