<div id="<%= dom_id student_course %>">
  <p>
    <strong>Student:</strong>
    <%= student_course.student_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= student_course.course_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= student_course.amount %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= student_course.date %>
  </p>

</div>
